body {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

	/* Header */

header {
	width: 100%;
	height: 60px;
	background: #e7eaef;
    position: fixed;
    z-index: 100;
}

.menu {
    display: grid;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(60px, 60px);
    text-align: center;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #05828e;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}

.logo:hover {
    color: #78a8bc;
}

nav {

}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 1em;
    color: #162229;
    font-family: 'Caveat:700', cursive;
}

nav a:hover {
    color: #78a8bc;
}

    /* Section */

section {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    /* Boxes */

#box {
    position: relative;
}

box {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding-top: 100px;
    grid-auto-columns: minmax(410px, auto);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 3px solid #e7eaef;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 3px solid #e7eaef;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 3px solid #e7eaef;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 3px solid #e7eaef;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 3px solid #e7eaef;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 3px solid #e7eaef;
}

box a:hover {
    transform: scale(1.025);
    transition: .4s;
}

    /* Information */
